# Virtual Environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
# Dummy frontend - local testing only
frontend/

post.db
uploads/
frontend/
.env
.venv/
.pytest_cache/